html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#body{
	position:absolute;
	height: 100vh;
	width: 100vw;
}

button{
	outline: none;
}

#left-bar{
	width: 20%;
	height: 100vh;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	float: left;
	text-align: center;
    margin: 0;
  	box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.1);
  	position: fixed;
}

#search-bar{
	width: 60%;
	height: 10vh;
	background: rgba(255, 255, 255, 1);
	float: left;
	text-align: center;
    margin: 0;
  	box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#top-bar{
	width: 60%;
	height: 30vh;
	background: rgba(255, 255, 255, 1);
	float: left;
	text-align: center;
    margin-left: 20%;
    margin-bottom: 1%;
  	box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#right-bar{
	width: 20%;
	height: 100vh;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	float: left;
	text-align: center;
    margin-left: 80%;
  	box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.1);
  	position: fixed;
}

.postText{
	width: 99%;
	height: 20vh;
	border:none;
	border-bottom: 2px solid rgba(53, 120, 229, 1);
	resize: none;
	outline: none;
	font-size: 4vh;
}

.postBtn{
	width: 10%;
	height: 8vh;
	margin-right: 2px;
	float: right;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	color: rgba(255, 255, 255, 1);
	border: none;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    font-size: 150%;
}

.disabled{
	width: 10%;
	height: 8vh;
	margin-right: 2px;
	float: right;
	background: rgba(255, 255, 255, 1);
	color: rgba(255, 1, 1, 1);
	border: none;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    font-size: 150%;
    text-decoration: line-through;
}

.postBtn:hover, .reactBtn:hover, .reactBtn2:hover, .deleteBtn:hover, .replyBtn:hover{
	background: rgba(255, 255, 255, 1);
	color: rgba(53, 120, 229, 1);
}

.reactBtn{
	width: 10%;
	height: 8vh;
	margin-top: 1vh;
	margin-left: 2px;
	float: left;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	color: rgba(255, 255, 255, 1);
	border: none;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.reactBtn2{
	width: 10%;
	height: 8vh;
	margin-top: 1vh;
	margin-left: 5px;
	float: left;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	color: rgba(255, 255, 255, 1);
	border: none;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.replyBtn{
	width: 10%;
	height: 8vh;
	margin-top: 1vh;
	margin-left: 5px;
	float: left;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	color: rgba(255, 255, 255, 1);
	border: none;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.deleteBtn{
	width: 10%;
	height: 8vh;
	margin-top: 1vh;
	margin-right: 5px;
	float: right;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	color: rgba(255, 255, 255, 1);
	border: none;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    font-size: 120%;
}

#reacts, #reacts2{
	font-size: 200%;
}

#profilePicture{
	margin-left: 9%;
	width: 80%;
	height: 30vh;
	border: 2px solid black;
}

#userName{
	font-size: 150%;
	cursor: pointer;
	color: rgba(255,255,255,1);
}

#userName:hover{
	text-decoration: underline;
}

#newsfeed{
	width: 60%;
	height: 70vh;
	float: left;
	text-align: center;
    margin-left: 20%;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    margin:auto;
}

.left-bar-items{
	text-align: left;
    margin: auto;
	background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 3%;
}

.inactives{
    display: block;
    color: rgba(255,255,255,1);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

.inactives:hover{
	background: rgba(255, 255, 255, 1);
	color: rgba(53, 120, 229, 1);
}

.search{
	height: 6vh;
	width: 80%;
	font-size: 4vh;
	outline: none;
}

#search-icon{
	font-size: 4vh;
	color: rgba(255,255,255,1);
}

.posts{
	margin-top: 2vh;
	width: 90%;
	height: 50vh;
	margin-left: 5%;
	text-align: left;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: 3vh;
}

.userName{
	font-size: 5vh;
	text-align: left;
	float: left;
	border-bottom: 2px solid rgba(53, 120, 229, 1);
	width: 100%;
	height: 10vh;
	cursor: pointer;
}

.usersPicture{
	height: 8vh;
	width: 8vh;
	border: 2px solid black;
}

.postData{
	height: 40vh;
	border: 2px solid rgba(53, 120, 229, 1);
	word-wrap: break-word;
}

.postDate{
	float: right;
	font-size: 6vh;
	margin-top: 1vh;
	margin-right: 2vh;
}

.charactersLeft{
	float: left;
	font-size: 6vh;
	margin-top: 1vh;
	margin-right: 2vh;
	color: rgba(53, 120, 229, 1);
}

.charactersLeftError{
	float: left;
	font-size: 6vh;
	margin-top: 1vh;
	margin-right: 2vh;
	color: rgba(255, 1, 1, 1);
}